.package {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  color: blue;
  width: 100%;
}

.navbar__item {
  font-size: 2rem;
  flex-basis: 4rem;
  background-color: #fef6ff;
  padding: 0.5rem;
}

.itemList {
  height: 100%;
}

.items {
  display: grid;
  grid-template-columns: 10% 6% 30% 30% 10% 7% 7%;
  height: 2rem;
}

h2 {
  text-align: center;
  line-height: 2rem;
}

.contents {
  width: 90%;
}
