.package {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar__item {
  font-size: 2rem;
}

.items {
  display: grid;
  grid-template-columns: 10% 30% 30% 10% 10% 10%;
  height: 2rem;
}

h2 {
  text-align: center;
  line-height: 2rem;
}

.contents {
  width: 90%;
}
