.package {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items {
  display: grid;
  grid-template-columns: 10% 30% 30% 10% 10% 10%;
  height: 2rem;
}

.contents {
  width: 90%;
}
