.receiverForm {
  /* #e0c9f7 */
  background-color: white;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receiverForm__header {
  background-color: #e0c9f7;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0.2rem 0;
  width: 100%;
}

.reveiverForm__header__exit {
  position: absolute;
  right: 10px;
}

.receiverForm__body {
  padding: 0px 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio__group {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
  width: 100%;
  margin-top: 0.8rem;
}

.radio__group > input[type='radio'] {
  display: none;
}

.radio__group__label {
  width: 1%;
  border: 1px solid black;
  text-align: center;
}

.radio__group__label:hover {
  background-color: blue;
}

.name__group {
  display: flex;
  margin-top: 0.8rem;
}

.packageList {
  width: 90%;
  background-color: white;
  max-height: 50%;
  overflow: scroll;
}

.check {
  background-color: blueviolet;
}

.cancel {
  background-color: #e0bff7;
}
