.receiverForm {
  /* #e0c9f7 */
  background-color: white;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receiverForm__header {
  background-color: #e0c9f7;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0.2rem 0;
  width: 100%;
}

.reveiverForm__header__exit {
  position: absolute;
  right: 10px;
}

.receiverForm__body {
  padding: 0px 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio__group {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
  width: 100%;
  margin-top: 0.8rem;
  align-items: center;
}

input[type='radio'] {
}

input[type='radio']:checked + label {
  background-color: blue;
  width: 1000px;
}

.radio__label__group::after {
  margin-left: 0.5rem;
  content: ' ';
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: black;
  border: 1px solid #e0c9f7;
}

input[type='radio']:checked + .radio__label__group::after {
  background-color: blue;
  width: 1000px;
}

.radio__label {
}

.radio__label__group {
  display: flex;
  align-items: center;
}

.name__group {
  display: flex;
  margin-top: 0.8rem;
  align-items: center;
}

.packageList {
  width: 90%;
  background-color: white;
  max-height: 50%;
  overflow: scroll;
}

.check {
  background-color: blueviolet;
}

.cancel {
  background-color: #e0bff7;
}
