.receiverForm {
  /* #e0c9f7 */
  background-color: #f7f1f9;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e0c9f7;
}

.receiverForm__header {
  background-color: #e0c9f7;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0.2rem 0;
  width: 100%;
}

.reveiverForm__header__exit {
  position: absolute;
  right: 10px;
  color: white;
}

.receiverForm__body {
  padding: 0px 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio__group {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
  width: 100%;
  margin-top: 0.5rem;
  align-items: center;
}

input[type='radio'] {
  display: none;
}

.checkedBox {
  display: block;
  border: 1px solid #e0c9f7;
  background-color: white;
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkedBox:after {
  content: '';
  display: block;

  width: 0.6rem;
  height: 0.6rem;
}

input[type='radio']:checked + .checkedBox:after {
  background-color: #a376ef;
}

.radio__label__group {
  display: flex;
  align-items: center;
}

.name__group {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
}

.input__title {
  margin-right: 0.5rem;
}

.receiverForm__Footer {
  margin-bottom: 1rem;
}

.packageList {
  width: 90%;
  background-color: white;
  max-height: 50%;
  overflow: scroll;
  margin-top: 0.5rem;
  border: 1px solid #e0bff7;
  margin-bottom: 0.5rem;
}

.packageList li {
  display: grid;
  grid-template-columns: 12% 8% 20% 30% 30%;
  grid-template-rows: 5rem;
}

.check {
  padding: 0.4rem 1rem;
  background-color: #e0c9f7;
  color: white;
  font-size: 1rem;
}

.cancel {
  background-color: #e0bff7;
}
