.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.7rem 1.4rem;
  border: 1px solid #e5a3ff;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.auth__input__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.auth__input {
  border: 1px solid #e0bff7;
  width: 25rem;
  font-size: 1.2rem;
  height: 3rem;
  padding: 0 0.5rem;
}

.auth__input:focus {
  border: 1px solid purple;
}

.auth__input:not(:first-child) {
  margin-top: 0.5rem;
}

.auth__btn {
  width: 25rem;
  padding: 0;
  font-size: 1rem;
  margin-top: 0.5rem;
  background-color: #e0bff7;
  height: 3rem;
  color: white;
}
