.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  border: 1px solid #e5a3ff;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.auth__input {
  border: 1px solid #e0bff7;
  width: 15rem;
}

.auth__btn {
  width: 15rem;
  padding: 0;
  font-size: 0.7rem;
}
