.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  border: 1px solid #e5a3ff;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.auth__input {
  border: 1px solid #dadada;
}

auth__input:first-child {
  border: 3px solid #e0bff7;
  width: 16rem;
  background-color: black;
}

.auth__btn {
  width: 15rem;
  padding: 0;
  font-size: 1rem;
  margin-top: 0.5rem;
}
