.headers {
  background: no-repeat url('./backimg.png');
  background-size: cover;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 1rem;
  z-index: 99;
  position: relative;
}

.title {
  color: white;
}
.day {
  font-size: 2rem;
}

.menu {
  width: 10rem;
}
.menu__item {
  border: 0;
  background: none;
  font-size: 1rem;
}

.menu__item:hover {
  cursor: pointer;
  border: 1px solid white;
  color: white;
}
