header {
  background: no-repeat url('./backimg.png');
  background-size: cover;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  color: white;
}
.day {
  font-size: 2rem;
}
.menu__item {
  border: 0;
  background: none;
  font-size: 1rem;
}
