.items {
  display: flex;
  border: 1px solid black;
}

.items p:not(:last-child) {
  border-right: 1px solid black;
  height: 100%;
}

.items:hover {
  background-color: #fef6ff;
}

p {
  /* 크기를 넘기면 자동으로 줄바꿈 */
  text-align: center;

  font-size: 1.2rem;
  vertical-align: middle;
}

.selectBtn {
  color: white;
  background-color: #ab74f7;
  width: 100%;
  height: 100%;
}

.selected {
  background-color: black;
}

.unSelected {
  background-color: #ab74f7;
}

.selectBtn:hover {
  cursor: pointer;
}
