.items {
  display: grid;
  grid-template-columns: 10% 6% 30% 30% 10% 7% 7%;
  height: 3rem;
  border: 1px solid black;
  flex-grow: 1;
}

.items:hover {
  background-color: blue;
}

p {
  text-align: center;
}
