.items {
  display: grid;
  grid-template-columns: 8% 17% 7% 30% 30% 8%;
  align-items: center;
  border: 1px solid black;
}

.itemBorder:not(:last-child) {
  border-right: 1px solid black;
}

.items:hover {
  background-color: #fef6ff;
}

li div {
  height: 100%;
  display: flex;
  flex-shrink: 0;
}

p {
  /* 크기를 넘기면 자동으로 줄바꿈 */
  text-align: center;
  word-wrap: break-word;
  font-size: 1.2rem;
}

.selectBtn {
  color: white;
  background-color: #ab74f7;
  width: 100%;
  height: 100%;
}

.selected {
  background-color: black;
}

.unSelected {
  background-color: #ab74f7;
}

.selectBtn:hover {
  cursor: pointer;
}
