.items {
  display: grid;
  grid-template-columns: 10% 6% 30% 30% 10% 7% 7%;

  border: 1px solid black;
}

.items:hover {
  background-color: blue;
}

p {
  text-align: center;
  overflow-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}
