input:focus {
  outline: none;
}

.addContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addFormHeader {
  width: 100%;
  display: grid;
  grid-template-columns: 8% 10% 4% 24% 24% 10% 7% 7% 2%;
  height: 2rem;
  justify-content: center;
}

.item {
  font-size: 1.2rem;
}

.addForm {
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding: 0 1.5rem;
}
/* 8% 10% 5% 27% 27% 8% 7% 7%; */
.items {
  display: grid;
  grid-template-columns: 8% 10% 4% 24% 24% 10% 7% 7% 2%;
  align-items: center;
  grid-gap: 0.2rem;
}
.minus {
  padding: 0;
}
button {
  background-color: transparent;
  border: none;
  color: #f8d5fd;
}

.bottomBtn {
  display: flex;
}

.addBtn:hover {
  cursor: pointer;
  color: #e5a3ff;
}

.test {
  width: 112px;
}
