.addContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addForm {
  width: 100%;
  padding: 1rem;
}

.items {
  display: grid;
  grid-template-columns: 10% 6% 28% 28% 10% 7% 7% 4%;
  align-items: center;
}

.addBtn {
  width: 1rem;
}
