.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 3px solid black;
  border-top: 3px solid blue;
  animation: spin 2s linear infinite;
}
.loading_content {
  margin-top: 0.8rem;
  color: purple;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
