.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: gray;
  opacity: 0.5;
}

.loading {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 3px solid white;
  border-top: 3px solid purple;
  animation: spin 2s linear infinite;
}
.loading_content {
  margin-top: 0.5rem;
  color: purple;
  font-weight: bold;
  font-size: 1.4rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
