@keyframes start {
  0% {
    top: 0;
  }
}

.banner {
  text-align: center;
  font-size: 1.6rem;
  position: fixed;
  top: ;
}

.banner_red {
  background-color: red;
}

.banner_green {
  background-color: blue;
}
