@keyframes start {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 4rem;
  }
}
.alert_container {
}

.banner {
  text-align: center;
  font-size: 1.6rem;
  position: fixed;
  animation-name: start;
  animation-duration: 2s;
  top: 0;
}

.banner_red {
  background-color: red;
}

.banner_green {
  background-color: blue;
}
