@keyframes start {
  0% {
    top: 0;
  }
  100% {
    top: 4rem;
  }
}
.alert_container {
  position: relative;
  z-index: 1;
  background-color: green;
  height: 100px;
  width: 1000px;
  top: 1px;
}

.banner {
  text-align: center;
  font-size: 1.6rem;
  position: relative;

  z-index: 2;
}

.banner_red {
  background-color: red;
}

.banner_green {
  background-color: blue;
}
