@keyframes start {
  0% {
    transform: translateY(-50%);
  }
  100% {
    top: 4rem;
  }
}
.alert_container {
}

.banner {
  text-align: center;
  font-size: 1.6rem;
  position: absolute;
  animation-name: start;
  animation-duration: 2s;
  height: 2rem;
}

.banner_red {
  background-color: red;
}

.banner_green {
  background-color: blue;
}
