input:focus {
  outline: none;
}

.addContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addFormHeader {
  width: 100%;
  display: grid;
  grid-template-columns: 7% 13% 4% 24% 24% 10% 7% 7% 2%;
  justify-content: center;
  color: #8541f6;
  column-gap: 0.2rem;
}

.item {
  font-size: 1rem;
}

.addForm {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
/* 8% 10% 5% 27% 27% 8% 7% 7%; */
.items {
  display: grid;
  grid-template-columns: 7% 13% 4% 24% 24% 10% 7% 7% 2%;
  align-items: center;
  column-gap: 0.2rem;
  margin-top: 0.5rem;
}
.minus {
  padding: 0;
}

.items input[type='text'] {
  height: 1.8rem;
  font-size: 1rem;
  padding: 0.8rem 0.2rem;
}

.countText {
  border: 1px solid #8541f6;
}

.kindSelecter {
  width: 3rem;
}

button {
  background-color: transparent;
  border: none;
  color: #f8d5fd;
}
.bottom {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: 2rem;
}
.bottomBtn {
  display: flex;
}

.bottom::before {
  content: '.';
  color: transparent;
}

.addBtn:hover {
  cursor: pointer;
  color: #e5a3ff;
}

.sendBtn {
  font-size: 1rem;
}

.test {
  width: 112px;
}
